/* CSS for Dashboard layout */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
  }
  
  .sidebar h2 {
    color: #fff;
    text-align: center;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px;
  }
  
  .sidebar ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .sidebar ul li a:hover {
    color: #ccc;
  }
  
  .content {
    margin-left: 250px;
    padding: 20px;
  }

  .card-icon {
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    font-size: 24px;
  }
  
  .card-subtext {
    color: #6c757d;
    font-size: 14px;
  }

  /* CSS for Dashboard layout */
  
  @media (max-width: 767.98px) {
    .sidebar {
      width: 100%;
    }
  }

  
:root 
{
--main-bg-color: #009d63;
--main-text-color: #009d63;
--second-text-color: #bbbec5;
--second-bg-color: #c1efde;
}

.primary-text {
color: var(--main-text-color);
}

.second-text 
{
color: var(--second-text-color);
}

.primary-bg 
{
background-color: var(--main-bg-color);
}

.secondary-bg
 {
background-color: var(--second-bg-color);
}

.rounded-full
 {
border-radius: 100%;
}

#wrapper 
{
overflow-x: hidden;
background-image: linear-gradient
(
    to right,
    #baf3d7,
    #c2f5de,
    #cbf7e4,
    #d4f8ea,
    #ddfaef
);
}

#sidebar-wrapper
 {
min-height: 100vh;
margin-left: -15rem;
-webkit-transition: margin 0.25s ease-out;
-moz-transition: margin 0.25s ease-out;
-o-transition: margin 0.25s ease-out;
transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading 
{
padding: 0.875rem 1.25rem;
font-size: 1.2rem;
}

#sidebar-wrapper .list-group 
{
width: 15rem;
}

#page-content-wrapper
 {
min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper 
{
margin-left: 0;
}

#menu-toggle 
{
cursor: pointer;
}

.list-group-item 
{
border: none;
padding: 20px 30px;
}

.list-group-item.active 
{
background-color: transparent;
color: var(--main-text-color);
font-weight: bold;
border: none;
}

@media (min-width: 768px) 
{
#sidebar-wrapper {
    margin-left: 0;
}

#page-content-wrapper 
{
    min-width: 0;
    width: 100%;
}

#wrapper.toggled #sidebar-wrapper 
{
    margin-left: -15rem;
}
}

  
  
  